<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>This is my title !</title>
  </head>
  <body>
    <!-- anything here is comment -->
    <h1>This is a Heading 1</h1>
    <h2>This is headung 2</h2>
    <h3>Hedaing 3</h3>
    <h4>Heading 6</h4>

    <p>This is pragarph</p>
    <p><b>This is text that is in bold</b></p>
    <p><i>This is text that is in italics</i></p>
    <p><strong>This is strong</strong></p>
    <p><em>This is emphasis</em></p>
  </body>
</html>
