{% extends "app2/base.html" %}
{% block title %}Formpage2{% endblock %}
    {% block content %}
        <form action = "" method = "post">
            {% csrf_token %}
            <table>
                {{ forms.as_table }}
            </table>
            <input type="submit" value="Sign Up">
        </form>
    
    {% endblock %}














<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src=""></script>
</head>

<body>
    <form action = "" method = "post">
        {% csrf_token %}
        <table>
            {{ forms.as_table }}
        </table>
        <input type="submit" value="Submit">
    </form>
    
</body>

</html> -->