{% extends "app3/base.html" %}
{% block content %}

    <h1> login</h1>
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" name="username" placeholder="Enter Username">
        <br>
        <label for="password">Password:</label>
        <input type="password" name="password">
        <br>
        <input type="submit" name="" value="Login">

        {% for message in messages %}
             {{ message }}
        {% endfor %}
    </form>
{% endblock %}

