{% load static %}
<html >
  <head>
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet" href="{% static "css/reset.css" %}">

    <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900'>
<link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Montserrat:400,700'>
<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>

        <link rel="stylesheet" href="{% static "css/style.css" %}">
        <link rel="stylesheet" href="{% static "font/stylesheet.css" %}">




  </head>

  <body>

{% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}



<div class="container">
  <div class="info">

  </div>
</div>
<div class="form">
  <div class="thumbnail"></div>
	<form class="login-form" action="" method="post">{% csrf_token %}

		<input type="email" name="email" value="" id="email" placeholder="email-id..." required><br/>

		<input type="password" name="password" value="" id="password" placeholder="password..." required><br/>

		<input type="password" name="re_password" value="" id="repassword" placeholder="re-password..." required><br/>
    <button>Signup</button>
    </form>
		<!-- <input type="submit" value="Signup" class="btn btn-danger"/> -->
		<!-- <input type="submit" value="Sign up"><br/><br/> -->
		<p class="message">Already registered! <a href="/">Login</a></p>
	<!-- <a href="{% url 'password_reset' %}">Forget Password?</a>
 -->
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

        <script src="js/index.js"></script>




  </body>
</html>
