<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/my_style.css' %}" />
  </head>
  <body>
    <h2>Let's insert an image</h2>
    <img
      src="{% static 'images/tiger2.jpg' %}"
      alt="no image found"
      width="500px"
    />
    <img
      src="{% static 'images/tiger.jpg' %}"
      alt="no image found"
      width="500px"
    />
    <a href="http://127.0.0.1:8000/home/">Home</a>
  </body>
</html>
