<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        {% if access_record %}
        <table border="2" cellpadding="2px" cellspacing="3px">
            <th>Site name</th>
            <th>Date Acess</th>

            {% for acc in access_record %}
            <tr>
                <td>{{acc.name}}</td>
                <td>{{acc.date}}</td>
                <!-- <td>{{acc.topic}}</td> -->
                <!-- <td>{{acc.url}}</td> --> -->
            </tr>
            {% endfor%}
        </table>
        {% else %}
        <p>No access Record found</p>
        {% endif %}
    </div>

</body>

</html>