body{
    background-color:blue;
    /* text-decoration: underline; */

}
img{
    height:150px;
    width:300px;
    float:left;
    display: block;
    /* position: fixed; */
}
p{
    font:center;
}