h1 {
    text-align: center;
    padding-top: 50px;
    font-size: 50px;
    letter-spacing: 2px;
    line-height: 90px;
    text-transform: capitalize;
} 
div.circle {
    width: 330px;
    height: 320px;
    border: 10px solid;
    border-radius: 100%;
    border-color: red green blue orange;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}
 .container{
margin-left: 500px;
margin-top: 100px;
} 

.blink {
    animation: blinker 2s linear infinite;
    animation-delay: 0.5s;
    color: red;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
@keyframes blinker {
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.blink:hover {
    animation:none;
    cursor: pointer;
}
.blink2 {
    animation: blinker 2s linear infinite;
    color: gold;
    animation-delay: 0.5s;
    font-size: 60px;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-style: bold;
}
@keyframes blinker {
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.blink2:hover {
    animation: none;
    cursor: pointer;
}
.nav-link
{
    border-radius: 35px;
color: blue;
background-color:white ;
font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: bolder;    
}
/* marquee{
    font-style: italic;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 52px;
    background-image: linear-gradient(lightblue,pink);
    color: black;
    letter-spacing: 2px;
    animation-delay: -10s;
} */
.social > a{
    position: relative;
    opacity: 0.7;
    padding: 5px;

}
.social > a:hover{
    text-decoration: none;
    animation: goup 20s;
}
@keyframes goup{
from{
    bottom:0px;
}
to{
    bottom: 200px;
    opacity: 100;
}
}